# Carpetas de librerías (por si acaso hubiera en la raíz)
node_modules/

# Tu carpeta de documentos personales/manuales
documentacion/

# Archivos de sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

backend/uploads/
.env*
.env.local
node_modules/
.next/
dist/
build/