node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Ignorar evidencias pero mantener la carpeta
/uploads/evidencias/*
!/uploads/evidencias/.keep
/logs
*.log
serviceAccountKey.json
formapp-3bd63-6cbb762dbff8.json